{% extends "portfolio/base.html" %}
{% load static %}
{% block content %}
    <div class="p-4 mb-4 bg-light rounded-3">
    <div class="container text-center container">
        <div style="height: 100px">
          <div class="h-100 d-inline-block p-3">
              <h1>My projects:</h1>
          </div>
        </div>
    </div>

    <div class="container">
        {% for project in projects %}
        <div class="card mb-3" style="max-width: 100%">
         <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ project.image.url }}" class="img-fluid rounded-start" alt="Photo {{ project.title }}">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                  <h5 class="card-title">{{ project.title }}</h5>
                  <p class="card-text">{{ project.description|safe }}</p>
                  <a href="{{ project.url }}" class="btn btn-dark">More...</a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}