{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
<main>
    <div style="height: 100vh">

  <section class="py-6 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Hello! This is my portfolio.</h1>
        <p class="lead text-muted">Here are my projects. You can watch them.</p>
      </div>
    </div>
  </section>

  <div class="card-group">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

         {% for project in projects %}
             <div class="col">
              <div class="card" style="width: 22rem;">
                <img src="{{ project.image.url }}" class="card-img-top" alt="Fofo project">
                <div class="card-body">
                    <h5>{{ project.title }}</h5>
                  <p class="card-text">{{ project.preview|safe }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        {% if project.url %}
                        <a href="{{ project.url }}" class="btn btn-dark">More...</a>
                        {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
         {% endfor %}


      </div>
    </div>
  </div>

    </div>
</main>
{% endblock %}